# Ignore patterns for repo config
/node_modules
/test/__screenshots__

# Ignore patterns for templates
*/node_modules
*/pnpm-lock.yaml
*/yarn.lock
*/build/*
*/dist/*
*/out-tsc/*

# Ignore vscode config folder, except in specific templates
.vscode
!/gsap-svelte/.vscode
!/quasar/.vscode
!/tutorialkit/.vscode

# Ignore everywhere
._*
.DS_Store
