# Ignore patterns for repo config
/node_modules

# Ignore patterns for templates
*/node_modules
*/package-lock.json
*/pnpm-lock.yaml
*/yarn.lock
*/build/*
*/dist/*
*/out-tsc/*
!/tutorialkit/package-lock.json

# Ignore vscode config folder, except in specific templates
.vscode
!/gsap-svelte/.vscode
!/quasar/.vscode
!/tutorialkit/.vscode

# Ignore everywhere
._*
.DS_Store
