---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro';
import { Button } from "@/components/ui/button"
---

<Layout title="Welcome to Astro.">
	<main>
		<p>Start prompting</p>
	</main>
</Layout>
